//F4F1DE creem E07A5F reb 3D405B bloo 81B29A gren F2CC8F yloo

// $back: #F4F1DE;
// $front: #3D405B;
// $primary: #81B29A;
// $secondary: #E07A5F;
// $neutral: #F2CC8F;

// $back: #FFFCE8;
// $front: #739E82;
// $primary: #5F5449;
// $secondary: #87A330;
// $neutral: #FF9000;

$back: #5F5449;
$front: #F4F1DE;
$primary: #3D405B;
$secondary: #E07A5F;
$neutral: #d1ff48;

* {
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: $primary;
}

h2 {
    padding-left: 50px;
    text-transform: capitalize;
}

a {
    color: $neutral;
}

.picture {
    border: 3px solid $front;
    margin-top: 10px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

// HEADING

header {
    width: 100%;
}

.heading {
    background-color: $secondary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 10;

}

.aidan {
    color: $front;
    background-color: $secondary;
    width: 200px;
    text-align: center;
    border: 2px solid $front;
    border-radius: 20px;
    text-shadow: 5px 0px $primary;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.home-link {
    text-decoration: none;
}

.aidan:hover {
    color: $neutral;
    transition: 0.5s;
    text-shadow: 0px 0px $back;
    border-color: $neutral;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
    padding-left: 25px;
}

.page-nav {
    padding: 10px;
}

.page-nav:hover {
    transform: scale(1.3);
    transition: 0.5s;
    border: 10px solid $neutral;
    border-radius: 100%;
    padding: 0;
    background-color: $neutral;
    transition: 0.5s;
}

// NAVIGATION BAR

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 520px;
    text-decoration: none;
    background-color: $secondary;
    font-weight: 700;
    position: -webkit-sticky; //safari
    position: sticky;
    top: 0;
    z-index: 5;
    border: 2px solid $secondary;
    border-radius: 0 0 10px 0;
}

.page-link {
    text-decoration: none;
    font-size: 1.5em;
    color: $front;
    background-color: $secondary;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-content: center;
    padding-left: 10px;
    padding-top: 35px;
    width: 150px;
    height: 100px;
    // border: 3px solid red;
}

.page-link:hover {
    color: $neutral;
    border-left: 10px solid $neutral;
    transition: 0.5s;
}

// MAIN

main {
    display: flex;
    position: relative;
    width: 100%;
}

article {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-right: 100px;
}

.text-container {
    text-align: justify;
    color: $secondary;
    // width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    border-width: 0px 10px 10px 10px;
    font-size: 1.5em;
    margin-top: 10px;
    flex-wrap: wrap;
}

.text {
    border-radius: 10px;
    color: $front;
    background-color: $back;
    padding: 10px 50px 40px 50px;
}

.portrait {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    background-color: $back;
    border: solid $back;
    border-width: 0px 10px 10px 0;
}

#home-page {
    height: 500px;
}


// INDEX RULES

.index-title {
    display: flex;
    width: 100%;
    padding-left: 125px;
    justify-content: center;
    position: relative;
    top: 150px;
}

.welcome {
    text-align: center;
    color: $front;
    width: 100%;
    letter-spacing: 1.1em;
    text-transform: uppercase;
}

// BLOG RULES

.card-case {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.card {
    background-color: $back;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    // transition: 0.3s;
    border-radius: 5px;
    width: 300px;
    margin: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
    border: 2px solid $neutral;
    margin: 5px 10px 15px 10px;
    transition: 0.3s;
}

.card-container {
    text-align: justify;
    padding: 2px 16px;
    color: $front;
}

.card-image {
    border-radius: 5px 5px 0 0;
}

// PROJECTS RULES

// MEDIA RULES

// ABOUT RULES

// CONTACT RULES (no touching)

// SCREEN ADJUST

@media screen and (max-width: 1100px) {
    .text-container {
        font-size: 1.3em;
    }

    .content-container {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 700px) {
    main {
        flex-direction: column;
    }

    .navbar {
        width: 100%;
        height: 100px;
        flex-direction: row;
        border: none;
        border-radius: 0;
    }

    .page-link {
        // border-right: 1px dotted $back;
        font-size: 1em;
        justify-content: center;
        padding-left: 0;
    }

    .page-link:hover {
        color: $neutral;
        border-bottom: 10px solid $neutral;
        border-left: none;
        transition: 0.5s;
    }

    #page-link-r {
        border-right: none;
    }

    .portrait {
        border-width: 0 10px 10px 10px;
        width: 100%
    }

    .hidden-text {
        visibility: hidden;
    }

    .index-title {
        padding-left: 10%;
        padding-right: 10%;
    }

    .welcome {
        letter-spacing: 1em;
    }
}

// FOOTER

footer {
    color: $front;
    // background-color: $back;
    font-weight: 100;
    text-align: center;
    position: relative;
    top: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
}