//F4F1DE creem E07A5F reb 3D405B bloo 81B29A gren F2CC8F yloo

// $back: #F4F1DE;
// $front: #3D405B;
// $primary: #81B29A;
// $secondary: #E07A5F;
// $neutral: #F2CC8F;

// $back: #FFFCE8;
// $front: #739E82;
// $primary: #5F5449;
// $secondary: #87A330;
// $neutral: #FF9000;

$back: #5F5449;
$front: #F4F1DE;
$primary: #3D405B;
$secondary: #E07A5F;
$neutral: #d1ff48;

* {
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: $primary;
}

h2 {
    padding-left: 10px;
    color: $secondary;
    text-align: center;
}

a {
    color: $neutral;
}

#current-page {
    color: $neutral;
}

.column {
    display: flex;
    flex-direction: column;
}

// HEADING

header {
    width: 100%;
}

.heading {
    background-color: $secondary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 10;

}

//Main Logo
.aidan {
    color: $front;
    background-color: $secondary;
    width: 200px;
    text-align: center;
    border: 2px solid $front;
    border-radius: 20px;
    text-shadow: 5px 0px $primary;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 10px;
}

.home-link {
    text-decoration: none;
}

.aidan:hover {
    color: $neutral;
    transition: 0.5s;
    text-shadow: 0px 0px $back;
    border-color: $neutral;
}

//Social Media Links
.links {
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 200px;
}

.page-nav-ico {
    width: 25px;
    margin: 10px;
}

.page-nav:hover {
    transform: scale(1.3);
    transition: 0.5s;
    border: 5px solid $neutral;
    border-radius: 100%;
    padding: 0;
    background-color: $neutral;
    transition: 0.5s;
}

// NAVIGATION BAR

.navbar {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100px;
    text-decoration: none;
    background-color: $secondary;
    font-weight: 700;
    position: -webkit-sticky; //safari
    position: sticky;
    top: 0;
    z-index: 5;
}

.page-link {
    text-decoration: none;
    font-size: 0.8em;  
    color: $front;
    background-color: $secondary;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 35px;
    width: 150px;
    height: 100px;
    // border: 3px solid red;
}

.page-link:hover {
    color: $neutral;
    border-bottom: 10px solid $neutral;
    transition: 0.5s;
}

// MAIN

main {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
}

article {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-right: 100px;
}

.text-container {
    text-align: left;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    border-width: 0px 10px 10px 10px;
    // font-size: 1.5em;
    margin-top: 10px;
    flex-wrap: wrap;
}

.text {
    border-radius: 10px;
    color: $front;
    background-color: $back;
    padding: 10px 50px 40px 50px;
    width: 100%;
}

#home-page {
    height: 500px;
}


// INDEX RULES

.index-title {
    display: flex;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: center;
    position: relative;
    top: 150px;
}

.welcome {
    text-align: center;
    color: $front;
    width: 100%;
    letter-spacing: 1em;
    text-transform: uppercase;
}

// BLOG RULES

.card-case {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.card {
    background-color: $back;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    height: 500px;
    border-radius: 5px;
    width: 300px;
    margin: 40px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
    border: 2px solid $neutral;
    margin: 30px 40px 50px 40px;
    transition: 0.3s;
}

.card-container {
    text-align: justify;
    padding: 2px 16px;
    color: $front;
    height: 200px;
    overflow: scroll;
}

.card-image {
    border-radius: 5px 5px 0 0;
}

// PROJECTS RULES

.proj-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.weblink {
    height: 275px;
    width: 300px;
    margin: 10px;
    background-color: $back;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.weblink:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
    border: 2px solid $neutral;
    margin: 5px 10px 15px 10px;
    transition: 0.3s;
}

.web-image {
    width: 100%;
    height: 225px;
    border-radius: 10px;
}

// MEDIA RULES

audio {
    display: flex;
    background-color: $secondary;
    padding: 10px;
    height: 60px;
    border-radius: 15px;
}

audio:hover {
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

.media-container {
    display: flex;
    width: 100%;
    background-color: $back;
    border-radius: 10px;
    color: $front;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
}

#album-image {
    width: 200px;
    height: 200px;
}

// ABOUT RULES

.portrait {
    border: 3px solid $front;
    margin: 2px;
    width: 75%;
    height: 100%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cv {
    color: $front;
    background-color: $secondary;
    width: 125px;
    height: 40px;
    padding-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    align-self: center;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-decoration: none;
}

.cv:hover {
    border: 2px solid $neutral;
    color: $neutral;
}

.cv.cv:active {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
    margin-top: 2px;
    margin-bottom: 18px;
}

.badge-case {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-content: center;
    margin-bottom: 20px;
}

img#badge {
    width: 20%;
    height: auto;
}

// CONTACT RULES

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.contact-info {
    font-weight: 700;
}

// SCREEN ADJUST

@media screen and (min-width: 1100px) {
    .text-container {
        font-size: 1.3em;
    }

    .content-container {
        flex-wrap: wrap;
    }
    .cv {
        align-self: unset;
    }
}

@media screen and (min-width: 700px) {
    main {
        flex-direction: row;
    }

    .heading {
        padding-left: 50px;
        padding-right: 50px;
    }

    .navbar {
        width: 150px;
        height: 520px;
        flex-direction: column;
        border: 2px solid $secondary;
        border-radius: 0 0 10px 0;
    }

    .page-link {
        // border-right: 1px dotted $back;
        font-size: 1.5em;
        padding-left: 10px;
    }

    .page-link:hover {
        border-left: 10px solid $neutral;
        border-bottom: none;
    }

    #page-link-r {
        border-right: none;
    }

    .page-nav-ico {
        width: 50px;
    }

    //Index
    .index-title {
        padding-left: 125px;
    }

    .welcome {
        letter-spacing: 1.1em;
    }

    //Media
    #album-image {
        width: 400px;
        height: 400px;
    }

    //About
    .cv {
        align-self: unset;
        width: 150px;
    }

    img#badge {
        width: 10%;
    }
}

// FOOTER

footer {
    color: $front;
    // background-color: $back;
    font-weight: 100;
    text-align: center;
    position: relative;
    top: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}