* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #3D405B;
}

h2 {
  padding-left: 50px;
  text-transform: capitalize;
}

a {
  color: #d1ff48;
}

.picture {
  border: 3px solid #F4F1DE;
  margin-top: 10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header {
  width: 100%;
}

.heading {
  background-color: #E07A5F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 10;
}

.aidan {
  color: #F4F1DE;
  background-color: #E07A5F;
  width: 200px;
  text-align: center;
  border: 2px solid #F4F1DE;
  border-radius: 20px;
  text-shadow: 5px 0px #3D405B;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  margin-top: 10px;
  margin-left: 10px;
}

.home-link {
  text-decoration: none;
}

.aidan:hover {
  color: #d1ff48;
  transition: 0.5s;
  text-shadow: 0px 0px #5F5449;
  border-color: #d1ff48;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-nav-ico {
  width: 25px;
  margin: 10px;
}

.page-nav:hover {
  transform: scale(1.3);
  transition: 0.5s;
  border: 10px solid #d1ff48;
  border-radius: 100%;
  padding: 0;
  background-color: #d1ff48;
  transition: 0.5s;
}

.navbar {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100px;
  text-decoration: none;
  background-color: #E07A5F;
  font-weight: 700;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
}

.page-link {
  text-decoration: none;
  font-size: 0.8em;
  color: #F4F1DE;
  background-color: #E07A5F;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 35px;
  width: 150px;
  height: 100px;
}

.page-link:hover {
  color: #d1ff48;
  border-bottom: 10px solid #d1ff48;
  transition: 0.5s;
}

main {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
}

article {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-right: 100px;
}

.text-container {
  text-align: justify;
  color: #E07A5F;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  border-width: 0px 10px 10px 10px;
  font-size: 1.5em;
  margin-top: 10px;
  flex-wrap: wrap;
}

.text {
  border-radius: 10px;
  color: #F4F1DE;
  background-color: #5F5449;
  padding: 10px 50px 40px 50px;
  width: 100%;
}

.portrait {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #5F5449;
  border: solid #5F5449;
  border-width: 0px 10px 10px 10px;
}

#home-page {
  height: 500px;
}

.index-title {
  display: flex;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: center;
  position: relative;
  top: 150px;
}

.welcome {
  text-align: center;
  color: #F4F1DE;
  width: 100%;
  letter-spacing: 1em;
  text-transform: uppercase;
}

.card-case {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  background-color: #5F5449;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  height: 500px;
  border-radius: 5px;
  width: 300px;
  margin: 40px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  border: 2px solid #d1ff48;
  margin: 38px 40px 42px 40px;
  transition: 0.3s;
}

.card-container {
  text-align: justify;
  padding: 2px 16px;
  color: #F4F1DE;
  height: 200px;
  overflow: scroll;
}

.card-image {
  border-radius: 5px 5px 0 0;
}

.proj-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.weblink {
  height: 275px;
  width: 300px;
  margin: 10px;
  background-color: #5F5449;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.weblink:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  border: 2px solid #d1ff48;
  margin: 5px 10px 15px 10px;
  transition: 0.3s;
}

.web-image {
  width: 100%;
  height: 225px;
  border-radius: 10px;
}

#album-image {
  width: 200px;
  height: 200px;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 1100px) {
  .text-container {
    font-size: 1.3em;
  }

  .content-container {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 700px) {
  main {
    flex-direction: row;
  }

  .heading {
    padding-left: 50px;
    padding-right: 50px;
  }

  .navbar {
    width: 150px;
    height: 520px;
    flex-direction: column;
    border: 2px solid #E07A5F;
    border-radius: 0 0 10px 0;
  }

  .page-link {
    font-size: 1.5em;
    padding-left: 10px;
  }

  .page-link:hover {
    border-left: 10px solid #d1ff48;
    border-bottom: none;
  }

  #page-link-r {
    border-right: none;
  }

  .page-nav-ico {
    width: 50px;
  }

  .portrait {
    border-width: 0 10px 10px 0;
    width: 700px;
  }

  .index-title {
    padding-left: 125px;
  }

  .welcome {
    letter-spacing: 1.1em;
  }
}
footer {
  color: #F4F1DE;
  font-weight: 100;
  text-align: center;
  position: relative;
  top: 120px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*# sourceMappingURL=style.css.map */
